body {
  font-family: Arial, sans-serif;
  background-color: #d0a4e4;
  text-align: center;
}

h1 {
  color: #333;
  align-content: center;
}

p {
  color: #666;
}

button {
  background-color: #008CBA;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  display: block;
  margin: 10px auto;
}

button.bigbutton{
  width: 400px;
  height: 100px;
  border-radius: 10px;
}

button.smallbutton{
  width: 100px;
  height: 25px;
  line-height: 0.5;
}

.left-container{
  display: flex;
  justify-content: left;
  align-items: left;
  height: 100%;
}

.center-container {
  display: flex;
  flex-direction: column; /* Change the flex direction to column */
  justify-content: center;
  align-items: center;
  height: 100%;
}


.right-container{
  display: flex;
  justify-content: right;
  align-items: right;
  height: 100%;
}

#goToProfileFromMain-menu, #goToMainMenuFromProfile, #goToMainMenuFromNonogram-solving, #goToMainMenuFromProfile-creation {
  position: absolute; 
  top: 20px;  
}

#goToProfileFromNonogram-solving, #goToProfileCreationFromMain-menu {
  position: absolute; 
  top: 140px;  
}

#goToNonogramSolving {
  position: absolute; 
  top: 200px;  
}

#showJapaneseCultureMain-menu, #showJapaneseCultureNonogram-solving {
  position: absolute; 
  top: 200px;  
}

.japanese-culture {
  display: none;
  position: absolute;
  top: 310px;
  background-color: rgb(222, 222, 176); /* Change to desired beige color */
  width: 375px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px;
  z-index: 1;
  border-radius: 10px; /* Add rounded corners */
  font-family: "serif", sans-serif; /* Specify a beautiful text font */
}

.logo {
  display: block; /* Ensures the logo is displayed as a block-level element */
  margin-bottom: 20px; /* Adds space between the logo and the text/form */
  width:200px;
  position: absolute;
  top: 10px;
}

.profileText {
  position:absolute;
  top: 200px;
  /* margin-top: 20px; */
  margin-bottom: 20px; /* Adds space between the text and the form */
}

.profileForm {
  display: flex; /* Uses flexbox to align form elements horizontally */
  flex-direction: column; /* Stacks form elements vertically */
  top: 250px;
  position: absolute;
}

.profileForm label {
  margin-bottom: 10px; /* Adds space between input labels */
}


  
canvas.drawingcanvas{
  width: 500px;
  height: 500px;
  margin-top: 40px; /* Adjust as needed */
  background-color: beige; /* Add a background color */
}