body {
  /* text-align: center; */
  display: flex;
  height: 100vh;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #008CBA, #23d5ab);
background-size: 400% 400%;
animation: gradient 15s ease infinite;
}

#main-menu, #nonogram-solving, #profile-creation, #profile{
  display: flex;
  width: 100vw;
}

h1{
  font-size: 40px;
}



button {
background-color: #008CBA;
color: white;
padding: 10px 20px;
/* border: none; */
cursor: pointer;
display: block;
margin: 10px;
}

button.bigbutton{
width: 400px;
height: 100px;
border-radius: 10px;
}

button.smallbutton{
width: 100px;
height: 25px;
line-height: 0.5;
}

.left-container{
flex:1;
float: left;  
width: 50%;
display: flex;
flex-direction: column;
justify-content: left;
align-items: left;
height: 100%;
  /* background-image: url(background.jpeg) */
/* background: linear-gradient(-45deg, #ee7752, #e73c7e, #008CBA, #23d5ab);
background-size: 400% 400%;
animation: gradient 15s ease infinite; */
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

.center-container {
display: flex;
flex-direction: column; /* Change the flex direction to column */
justify-content: center;
align-items: center;
height: 100%;
}


.right-container{
flex: 1;
float: left;
display: flex;
flex-direction: column;
justify-content: center; 
  /*justify-content: right  */
align-items: center;
/* height: 100%; */
width:50%;
/* background-color: #008CBA; */
/* background-image: url(background.jpeg) */
}

.main-menu-and-logo{
  display: flex; 
  flex-direction: row;
}

#goToMainMenuFromProfile-creation, #goToMainMenuFromProfile {
position: absolute; 
top: 20px;  
right: 10px;
}

/* #goToProfileFromNonogram-solving, #showNonogramSolution {
position: absolute; 
top: 140px;  
} */


#solutionCanvas {
/* top: 260px; */
/* position: absolute; */
width: 300px;
height: 300px;
margin-bottom: 20px;
display: none;
background-color: beige;
}

.buttoncol{
  display: flex;
  flex-direction: column;
}

.buttons-and-solution{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.canvas-wrapper{
  margin-bottom: 20px;
}

.japanese-culture {
display: none;
padding: 12px;
z-index: 1;
text-align: center;
margin-right: 20px;
}

img.logo {
display: block; /* Ensures the logo is displayed as a block-level element */
margin-bottom: 20px; /* Adds space between the logo and the text/form */
width:200px;
/* position: absolute; */
top: 10px;
margin-right: 20px;
}

img.button_image{
width: 40px;
height: 40px;
cursor: pointer; /* Change cursor to pointer on hover to indicate clickability */
opacity: 0.8; /* Reduce opacity to indicate interactivity */
transition: opacity 0.3s; /* Add a smooth transition effect on opacity change */
/* display: inline-block; */
}


img.button_image:hover {
opacity: 1; /* Increase opacity on hover for visual feedback */
}


.image_row{
display: flex;
justify-content: space-between; /* this will add equal space between each image */
}

#textFieldsContainerVert{
display: flex;
justify-content: space-between;
width: 500px; /*560 to account for horcontainers height*/
background-color: blueviolet;
/* margin-left: 50px; */
}
#textFieldsContainerVert > * {
flex: 1;
margin: 0 5px; /* Adjust the margin as needed for spacing */
}

#canvasAndHorizContainer{
display: flex;
align-items: center;
}

#textFieldsContainerHor{
display: flex;
flex-direction: column; /* Change the flex direction to column */
align-items: center; /* Optional: Align items in the center horizontally */
height: 500px;
/* width: 60px; */
background-color: blueviolet;
}

#textFieldsContainerHor > * {
  flex: 1;
  }
  
  .smallHorContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-right: -100px;   */
  }
  
  .horTextBlock {
  transform: rotate(-90deg);
    margin-left: 5px;
  }
  
  .horTextBlock + .horTextBlock {
    margin-left: 10px;
  }


.profileText {
/* position:absolute; */
/* top: 200px; */
/* margin-top: 20px; */
margin-bottom: 20px; /* Adds space between the text and the form */
}

.profileForm {
display: flex; /* Uses flexbox to align form elements horizontally */
flex-direction: column; /* Stacks form elements vertically */
max-width: 300px;
/* top: 250px; */
/* position: absolute; */
}

.profileForm label {
margin-bottom: 10px; /* Adds space between input labels */
}

.two-forms{
  display: flex;
  flex-direction: row;
}

.form{
  display: flex;
  flex-direction: column;
}

canvas.drawingcanvas{
width: 500px;
height: 500px;
margin-top: 0px; /* Adjust as needed */
background-color: beige; /* Add a background color */
}